<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <title>Editor de Imágenes</title>
        <style type="text/css">[ng-cloak]#splash{display:block!important}[ng-cloak]{display:none}#splash{display:none;position:absolute;top:45%;left:50%;width:6em;height:6em;overflow:hidden;border-[...]</style>
        <link rel="stylesheet" href="assets/css/main.css?v23">
        <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>
    </head>

    <body id="editor" ng-app="ImageEditor" ng-strict-di>

        <div id="splash" ng-cloak>
            <div id="splash-spinner"></div>
        </div>

        <div ng-controller="MainController" ng-cloak style="height: 100%">
            <section id="right-panels">
                <section id="objects" class="md-whiteframe-z1" ng-controller="ObjectsPanelController">
                    <h3 ed-toggle-panel-visibility="objects"><span>Capas</span><i class="mdi mdi-expand-less"></i></h3>
                    <div class="scrollbar-wrapper" ed-pretty-scrollbar ed-scroll-axis="y">
                        <ul class="objects-panel list-unstyled" ui-sortable="sortableOptions" ng-model="objects">
                            <li class="object panel-item" ng-repeat="object in objects" ng-click="setAsActive(object)" ng-if="!object.ignore">
                                <i class="mdi mdi-remove-red-eye toggle-visibility" ng-class="{ 'not-visible': !object.visible }" ng-click="toggleVisibility(object); $event.stopPropagation();"></i>
                                <i class="mdi mdi-delete delete-object" ng-click="deleteObject(object); $event.stopPropagation();"></i>
                                <i class="mdi mdi-lock-outline lock-object" ng-class="{ 'not-locked': !object.locked }" ng-click="toggleLock(object); $event.stopPropagation();"></i>
                                {{ spacify(object.name) || spacify(object.type) }}
                            </li>
                            <li ng-if="!canvas.fabric._objects.length" class="text-center"><h4>Sin capas.</h4></li>
                        </ul>
                    </div>
                </section>

                <section id="history" class="md-whiteframe-z1 panel-hidden">
                    <h3 ed-toggle-panel-visibility="history"><span>Historial</span><i class="mdi mdi-expand-less"></i></h3>
                    <ul class="history-panel list-unstyled" ed-pretty-scrollbar ed-scroll-axis="y">
                        <li class="history-item panel-item" ng-click="history.load(item)" ng-repeat="item in history.all">
                            <i class="mdi mdi-{{ item.icon }} main-icon"></i>
                            {{ spacify(item.name) }}
                        </li>
                        <li ng-if="history.all.length === 0" class="text-center"><h4>Sin elementos del historial.</h4></li>
                    </ul>
                </section>
            </section>

            <section ng-hide="!loading" id="spinner">
                <md-progress-circular class="md-spinner" md-diameter="100" md-mode="indeterminate"></md-progress-circular>
            </section>

            <section id="left-sidebar" ed-tabs="basics" class="md-whiteframe-z1">
                <div id="sidebar-toggler" ed-toggle-sidebar>
                    <md-button class="md-fab md-primary" aria-label="Alternar barra lateral">
                        <i class="mdi mdi-edit show-icon"></i>
                        <i class="mdi mdi-close close-icon"></i>
                    </md-button>
                </div>
                <div id="navigation-bar">
                    <div data-activates="basics" class="nav-item">
                        <i class="mdi mdi-image"></i>
                        <div class="title">BÁSICO</div>
                    </div>
                    <div data-activates="text" class="nav-item">
                        <i class="mdi mdi-format-bold"></i>
                        <div class="title pull-up">TEXTO</div>
                    </div>
                    <div data-activates="drawing" class="nav-item">
                        <i class="mdi mdi-brush"></i>
                        <div class="title">DIBUJO</div>
                    </div>
                    <div data-activates="filters" class="nav-item">
                        <i class="mdi mdi-brightness-6"></i>
                        <div class="title">FILTROS</div>
                    </div>
                    <div data-activates="simple-shapes" class="nav-item">
                        <i class="mdi mdi-panorama-vertical"></i>
                        <div class="title">FORMAS</div>
                    </div>
                    <div data-activates="stickers" class="nav-item">
                        <i class="mdi mdi-favorite"></i>
                        <div class="title pull-up">PEGATINAS</div>
                    </div>
                </div>
                <div id="tabs">
                    <section id="basics" data-index="1" class="tab">
                        <h2 class="tab-title">Básico</h2>
                        <div ng-controller="CropController" class="basics-item">
                            <div ng-click="cropper.start($event)">
                                <i class="mdi mdi-crop basics-icon"></i>
                                <div class="icon-title">Recortar</div>
                            </div>

                            <div data-name="crop" class="actions-menu md-whiteframe-z1" ng-class="activePanel == 'crop' ? 'open' : 'closed'">
                                <div class="menu-header"><h3>Recortar</h3></div>
                                <div class="row">
                                    <md-input-container class="col-sm-6">
                                        <label>Ancho</label>
                                        <input type="text" ng-model="width" ng-change="cropzone.setWidth(width)">
                                    </md-input-container>
                                    <md-input-container class="col-sm-6">
                                        <label>Alto</label>
                                        <input type="text" ng-model="height" ng-change="cropzone.setHeight(height)">
                                    </md-input-container>
                                </div>
                                <div class="buttons">
                                    <md-button ng-click="cropper.stop()">Cancelar</md-button>
                                    <md-button ng-click="cropper.crop()" class="md-primary md-raised">Recortar</md-button>
                                </div>
                            </div>
                        </div>

                        <div ng-controller="RotateController" class="basics-item">
                            <div ng-click="startRotator($event)">
                                <i class="mdi mdi-rotate-right basics-icon"></i>
                                <div class="icon-title">Rotar</div>
                            </div>

                            <div data-name="rotate" class="actions-menu md-whiteframe-z1" ng-class="activePanel == 'rotate' ? 'open' : 'closed'">
                                <div class="menu-header"><h3>Rotar</h3></div>

                                <div class="rotate-icons">
                                    <i class="mdi mdi-rotate-left" ng-click="rotateProper(-90)"></i>
                                    <i class="mdi mdi-rotate-right" ng-click="rotateProper(90)"></i>
                                </div>

                                <section class="menu-group">
                                    <div class="md-slider">
                                        <div class="slider-label">Ángulo</div>
                                        <md-slider aria-label="Ángulo" step="1" ng-model="angle" ng-change="rotate(angle)" min="0" max="360" ></md-slider>
                                    </div>
                                    <div class="slider-input">
                                        <input type="number" ng-model="angle" ng-change="rotate(angle)" min="0" max="360"/>
                                    </div>
                                </section>

                                <div class="buttons">
                                    <md-button ng-click="cancel()">Cancelar</md-button>
                                    <md-button ng-click="applyRotation()" class="md-primary md-raised">Aplicar</md-button>
                                </div>
                            </div>
                        </div>

                        <div ng-controller="ResizeController" class="basics-item">
                            <div ng-click="startResizer($event)">
                                <i class="mdi mdi-open-with basics-icon"></i>
                                <div class="icon-title">Redimensionar</div>
                            </div>

                            <div data-name="resize" class="actions-menu md-whiteframe-z1" ng-class="activePanel == 'resize' ? 'open' : 'closed'">
                                <div class="menu-header"><h3>Redimensionar</h3></div>

                                <div class="clearfix">
                                    <md-input-container class="col-sm-6">
                                        <label>Ancho</label>
                                        <input type="number" ng-model="width" ng-change="aspectToHeight(width)">
                                    </md-input-container>

                                    <md-input-container class="col-sm-6">
                                        <label>Alto</label>
                                        <input type="number" ng-model="height" ng-change="aspectToWidth(height)">
                                    </md-input-container>
                                </div>

                                <md-checkbox ng-model="usePercentages" ng-change="togglePercentages(usePercentages)">Usar porcentajes</md-checkbox>
                                <md-checkbox ng-model="constrainProportions">Mantener proporciones</md-checkbox>

                                <div class="buttons margin-top">
                                    <md-button ng-click="close()">Cerrar</md-button>
                                    <md-button ng-click="apply()" class="md-primary md-raised">Redimensionar</md-button>
                                </div>
                            </div>
                        </div>

                        <div ng-controller="RoundedCornersController" class="basics-item">
                            <div ng-click="startRoundedCorners($event)">
                                <i class="mdi mdi-panorama-wide-angle basics-icon"></i>
                                <div class="icon-title">Redondear</div>
                            </div>

                            <div data-name="round" class="actions-menu md-whiteframe-z1" ng-class="activePanel == 'round' ? 'open' : 'closed'">
                                <div class="menu-header"><h3>Redondear</h3></div>

                                <section class="menu-group">
                                    <div class="md-slider">
                                        <div class="slider-label">Radio</div>
                                        <md-slider aria-label="Radio" step="1" ng-model="radius" ng-change="adjustPreview()" min="1" max="350" ></md-slider>
                                    </div>
                                    <div class="slider-input">
                                        <input type="number" ng-model="radius" ng-change="adjustPreview()"/>
                                    </div>
                                </section>

                                <div class="buttons">                            
                                    <md-button ng-click="cancel()">Cancelar</md-button>
                                    <md-button ng-click="apply()" class="md-primary md-raised">Aplicar</md-button>
                                </div>
                            </div>
                        </div>

                        <div ng-controller="CanvasBackgroundController" class="basics-item">
                            <div ng-click="openPanel('canvasColor', $event)">
                                <i class="mdi mdi-format-color-fill basics-icon"></i>
                                <div class="icon-title">Color</div>
                            </div>

                            <div data-name="canvasColor" class="actions-menu md-whiteframe-z1 fluid" ng-class="activePanel == 'canvasColor' ? 'open' : 'closed'">
                                <div class="menu-header"><h3>Color de fondo del lienzo</h3></div>

                                <input ed-flat ed-color-picker="setBackground(color)" type="text"/>

                                <div class="buttons">
                                    <md-button ng-click="cancel()">Cancelar</md-button>
                                    <md-button ng-click="apply()" class="md-primary md-raised">Aplicar</md-button>
                                </div>
                            </div>
                        </div>

                        <div class="basics-item" ng-class="{ disabled: canvas.fabric._objects.length <= 1 }">
                            <div ng-click="canvas.mergeObjects()">
                                <i class="mdi mdi-merge-type basics-icon"></i>
                                <div class="icon-title">Unir</div>
                            </div>
                        </div>
                    </section>

                    <section id="text" data-index="2" class="tab" ng-controller="TextController">
                        <h2 class="tab-title">Elegir una fuente</h2>

                        <div class="filter-inputs">
                            <div class="filter-input">
                                <md-select ng-model="filters.category" ng-change="fonts.paginator.filter(filters)" placeholder="Selecciona un tipo">
                                    <md-option value="serif">Serif</md-option>
                                    <md-option value="sans-serif">Sans Serif</md-option>
                                    <md-option value="display">Display</md-option>
                                    <md-option value="handwriting">Manuscrita</md-option>
                                    <md-option value="monospace">Monoespaciada</md-option>
                                </md-select>
                            </div>

                            <md-input-container class="filter-input">
                                <label>Buscar</label>
                                <input type="text" ng-model="filters.family" ng-change="fonts.paginator.filter(filters)">
                            </md-input-container>
                        </div>

                        <div ng-hide="activeTab !== 'text'" class="pagination md-whiteframe-z1" ed-fonts-pagination></div>

                        <section class="fonts-preview" ed-pretty-scrollbar ed-scroll-axis="y" ed-scroll-theme="light">
                            <div class="font" ng-style="{ 'font-family':  font.family }" ng-repeat="font in fonts.paginator.currentItems" ng-click="changeFont(font.family, $event)">{{ font.family }}</div>
                        </section>

                        <div data-name="text" class="actions-menu wider md-whiteframe-z1" ng-class="isPanelEnabled() ? 'open' : 'closed'">
                            <div class="menu-header"><h3>Texto</h3></div>

                            <section class="actions-menu-inner" ng-style="{ 'max-height': maxPanelHeight }" ed-pretty-scrollbar ed-scroll-axis="y" ed-scroll-theme="light">
                                <div class="md-slider">
                                    <div class="slider-label">Opacidad</div>
                                    <md-slider aria-label="opacidad del texto" step="0.1" ng-model="opacity" ng-change="text.setProperty('opacity', opacity)" min="0" max="1"></md-slider>
                                </div>
                                <div class="slider-input">
                                    <input min="0.1" max="1" step="0.1" type="number" ng-change="text.setProperty('opacity', opacity)" ng-model="opacity"/>
                                </div>

                                <div class="md-slider">
                                    <div class="slider-label">Tamaño de fuente</div>
                                    <md-slider aria-label="tamaño del texto" step="1" ng-change="text.setProperty('fontSize', fontSize)" ng-model="fontSize" min="1" max="100"></md-slider>
                                </div>
                                <div class="slider-input">
                                    <input type="number" ng-change="text.setProperty('fontSize', fontSize)" ng-model="fontSize"/>
                                </div>

                                <div class="text-styles">
                                    <div class="text-style-toolbar" ed-text-align-buttons>
                                        <i data-align="left" class="mdi mdi-format-align-left"></i>
                                        <i data-align="center" class="mdi mdi-format-align-center active"></i>
                                        <i data-align="right" class="mdi mdi-format-align-right"></i>
                                    </div>
                                    <div class="text-style-toolbar text-decoration-buttons" ed-text-decoration-buttons>
                                        <div data-decoration="underline" class="underline toolbar-btn">S</div>
                                        <div data-decoration="line-through" class="line-through toolbar-btn">T</div>
                                        <div data-decoration="overline" class="overline toolbar-btn">O</div>
                                        <div data-decoration="italic" class="italic toolbar-btn">I</div>
                                    </div>
                                </div>

                                <div class="colorpicker">
                                    <div class="colorpicker-label"><span>Color</span></div>
                                    <input ed-color-picker="text.setProperty('fill', color)" type="text"/>
                                </div>

                                <div class="colorpicker">
                                    <md-checkbox class="md-checkbox" ng-model="enableBackground" ng-change="text.toggleProperty('backgroundColor', enableBackground)" aria-label="Fondo">Fondo</md-checkbox>
                                    <input ed-color-picker="text.setProperty('backgroundColor', color)" ed-color-picker-disabled="{{ !enableBackground }}" type="text"/>
                                </div>

                                <div class="colorpicker">
                                    <md-checkbox class="md-checkbox" ng-model="enableOutline" ng-change="text.toggleProperty('stroke', enableOutline)" aria-label="Contorno">Contorno</md-checkbox>
                                    <input ed-color-picker-disabled="{{ !enableOutline }}" ed-color-picker="text.setProperty('stroke', color)" type="text"/>
                                </div>

                                <div class="md-inputs">
                                    <md-input-container>
                                        <label>Altura de línea</label>
                                        <input type="number" min="1" max="100" ng-model="lineHeight" ng-change="text.setProperty('lineHeight', lineHeight)">
                                    </md-input-container>
                                    <md-input-container>
                                        <label>Ancho del contorno</label>
                                        <input ng-disabled="!enableOutline" type="number" min="1" max="100" ng-model="strokeWidth" ng-change="text.setProperty('strokeWidth', strokeWidth)">
                                    </md-input-container>
                                </div>

                                <div class="buttons">
                                    <md-button ng-click="finishAddingTextToCanvas()" class="md-primary md-raised">Guardar</md-button>
                                    <md-button ng-click="cancelAddingTextToCanvas()" class="md-raised">Cancelar</md-button>
                                </div>
                            </section>
                        </div>
                    </section>
                    <!-- ...continúa igual para las demás pestañas y secciones, traduciendo los textos visibles... -->
                </div>
            </section>

            <section id="viewport">

                <section id="top-panel" class="md-whiteframe-z1" ng-controller="TopPanelController">
                    <md-button ng-click="openUploadDialog($event)" ng-if="!getParam('hideOpenButton')">Abrir</md-button>
                    <md-button ng-class="{ inactive: !historyPanelOpen }" ng-click="toggleRightPanel('history', $event)">Historial</md-button>
                    <md-button ng-class="{ inactive: !objectsPanelOpen }" ng-click="toggleRightPanel('objects', $event)">Capas</md-button>
                    <md-button ng-click="openSaveDialog($event)" class="md-primary md-raised">Guardar</md-button>
                </section>

                <canvas ng-show="started" id="canvas" class="md-whiteframe-z2"></canvas>
            </section>

            <div id="bottom-bar" ng-controller="ZoomController">
                <section class="zoom-container md-whiteframe-z1">
                    <div class="current-zoom">{{ getCurrentZoom() }}%</div>
                    <div class="zoom-slider">
                        <md-slider aria-label="zoom" step="1" ng-model="zoom" ng-change="doZoom()"  min="{{ minScale }}" max="{{ maxScale }}"></md-slider>
                    </div>
                    <div class="action-icons">
                        <i ng-click="canvas.fitToScreen()" class="mdi mdi-filter-center-focus fit-to-screen"><md-tooltip md-delay="200">Ajustar a pantalla</md-tooltip></i>
                        <i ng-click="canvas.zoom(1)" class="mdi mdi-fullscreen original-size"><md-tooltip md-delay="200">Tamaño original</md-tooltip></i>
                    </div>
                    <div ed-ie-slider-fix></div>
                </section>
            </div>

            <!-- Los textos de los diálogos y plantillas también deben traducirse, por ejemplo: -->
            <script type="application/ng-template" id="save-image-dialog">
                <md-dialog class="upload-file-dialog save-dialog">
                    <md-input-container>
                        <label>Nombre del archivo</label>
                        <input type="text" ng-model="imageName">
                    </md-input-container>

                    <md-radio-group ng-model="imageType">
                        <md-radio-button value="jpeg">JPEG</md-radio-button>
                        <md-radio-button value="png">PNG</md-radio-button>
                        <md-radio-button value="json">JSON</md-radio-button>
                    </md-radio-group>

                    <div ng-if="imageType === 'jpeg'">
                        <div class="slider-label">Calidad {{ imageQuality }}</div>
                        <md-slider aria-label="Ángulo" md-discrete ng-model="imageQuality" step="1" min="1" max="10" ></md-slider>
                    </div>

                    <p ng-if="imageType === 'json'">Esto descargará un archivo con el estado actual del editor Pixie para que puedas cargarlo después.</p>

                    <md-button ng-click="saveImage($event)" class="md-raised md-primary">Guardar</md-button>

                    <div class="demo-alert" ng-if="isDemo">Guardar imagen está deshabilitado en el sitio de demostración.</div>
                </md-dialog>
            </script>
            <!-- ...y así sucesivamente para el resto de los textos visibles... -->
        </div>
    </body>
</html>
